[databases]
{{with get "/leader"}}{{$leader := .Value}}{{$leadkey := printf "/members/%s" $leader}}{{with get $leadkey}}{{$data := json .Value}}{{$hostport := base (replace (index (split $data.conn_url "/") 2) "@" "/" -1)}}{{ $host := base (index (split $hostport ":") 0)}}{{ $port := base (index (split $hostport ":") 1)}}* = host={{ $host }} port={{ $port }} pool_size=[[ confd_pool_size ]]{{end}}{{end}}

[pgbouncer]
logfile = /var/log/pgbouncer/pgbouncer-[[ item.key ]].log
pidfile = /var/run/pgbouncer/pgbouncer-[[ item.key ]].pid

listen_addr = *
listen_port = [[ item.value.port + 1000 ]]

unix_socket_dir = /var/run/postgresql
user = postgres

auth_type = hba
auth_hba_file = /etc/pgbouncer/pg_hba_[[ item.key ]].conf
auth_file = /etc/pgbouncer/userlist_[[ item.key ]].txt
auth_user = [[ item.value.pgbouncer_user | default('pgbouncer') ]]
auth_query = SELECT * FROM pgbouncer.get_auth($1)

admin_users = pgbouncer
stats_users = pgbouncer

pool_mode = [[ confd_pool_mode ]]
default_pool_size = [[ confd_default_pool_size ]]
max_client_conn = [[ pgbouncer_max_client_conn | default("20") ]]
{% if item.value.pgbouncer_use_tls | default(pgbouncer_use_tls) %}

client_tls_sslmode = [[ item.value.pgbouncer_client_tls_sslmode | default(pgbouncer_client_tls_sslmode) ]]
client_tls_key_file = /etc/pgbouncer/[[ item.key ]].key
client_tls_cert_file = /etc/pgbouncer/[[ item.key ]].crt
client_tls_ciphers = [[ item.value.pgbouncer_client_tls_ciphers | default(pgbouncer_client_tls_ciphers) ]]
{% endif %}
