# CREATE ROLE pgbouncer LOGIN;
# -- set a password for the user
# \password pgbouncer
#
# CREATE FUNCTION public.lookup (
#    INOUT p_user     name,
#    OUT   p_password text
# ) RETURNS record
#    LANGUAGE sql SECURITY DEFINER SET search_path = pg_catalog AS
# $$SELECT usename, passwd FROM pg_shadow WHERE usename = p_user$$;
#
# -- make sure only "pgbouncer" can use the function
# REVOKE EXECUTE ON FUNCTION public.lookup(name) FROM PUBLIC;
# GRANT EXECUTE ON FUNCTION public.lookup(name) TO pgbouncer;


# # TYPE  DATABASE        USER            ADDRESS                 METHOD
# host    mydatabase      appuser         72.32.157.230/32        md5
# host    mydatabase      appuser         217.196.149.50/32       md5


[databases]
{{with get "/leader"}}{{$leader := .Value}}{{$leadkey := printf "/members/%s" $leader}}{{with get $leadkey}}{{$data := json .Value}}{{$hostport := base (replace (index (split $data.conn_url "/") 2) "@" "/" -1)}}{{ $host := base (index (split $hostport ":") 0)}}{{ $port := base (index (split $hostport ":") 1)}}* = host={{ $host }} port={{ $port }} pool_size=10{{end}}{{end}}

[pgbouncer]
logfile = /var/log/pgbouncer/pgbouncer-[[ item.key ]].log
pidfile = /var/run/pgbouncer/pgbouncer-[[ item.key ]].pid

listen_addr = *
listen_port = [[ item.value.port + 1000 ]]

unix_socket_dir = /var/run/postgresql
user = pgbouncer

auth_type = hba
auth_hba_file = /etc/pgbouncer/pg_hba.conf
auth_file = /etc/pgbouncer/userlist.txt

auth_user = pgbouncer
auth_query = SELECT p_user, p_password FROM public.lookup($1)

admin_users = pgbouncer
stats_users = pgbouncer

pool_mode = session
default_pool_size = 20
max_client_conn = 100
