[template]
prefix = "/service/{{ item.key }}"
owner = "postgres"
mode = "0644"
src = "pgbouncer.tmpl"
dest = "/etc/pgbouncer/{{ item.key }}.ini"

reload_cmd = "systemctl restart pgbouncer-{{ item.key }}.service"

keys = [
  "/members/","/leader"
]
