[Unit]
Description=Confd
After=network.target

[Service]
Type=simple
User={{confd_user}}
ExecStart=/usr/local/bin/confd {% for host in groups['etcd_master'] %}-node http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379 {% endfor %}-backend etcd -confdir /etc/confd -interval {{ confd_interval }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
