[{{ item.key }}]
pg1-port={{ item.value.port }}
pg1-path={{ item.value.path }}/{{ item.value.version | default(postgresql_version) }}/postgresql

{% for host in groups['backup'] %}
repo{{ loop.index }}-host={{ hostvars[host].ansible_default_ipv4.address }}
repo{{ loop.index }}-host-user={{ item.value.user }}
{% endfor %}
