# TYPE  DATABASE        USER            ADDRESS                 METHOD
local all all           trust

{% if item.value.hba_custom is defined and item.value.hba_custom %}
# Here come the customs
{% for key in item.value.hba_custom %}
{{ key  }}
{% endfor %}
# And the end of the customs
{% else %}
host  all all 0.0.0.0/0 md5
{% endif %}
